<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Style/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>

    <main class="home-container">
      <div>
        <h1>Welcome to the Cook Book</h1>
        <p class="intro-text">A job application tracker.</p>
      </div>
    </main>
  </body>
</html>
